*
!.gitignore
!*.cpp
!*.h
!*.pro
!*.qml
!*.png
!*.svg
!*.pdf
!*.xml
!resources.qrc
!android/
!assets/
!images/
!images/icons/
!images/batt_images
!images/icons/connection
!images/icons/settings
!images/icons/trigger
moc*
qrc_qml*
qrc_resources*